<div class="flag-container">
  <ion-card-subtitle class="flag">{{isDemoFlagLabel}}</ion-card-subtitle>
</div>
<ion-card class="ttls-main-container ion-padding">
  <ion-card-title>#CDSFWEFWFWF</ion-card-title>
  <component-tracking-time-line></component-tracking-time-line>
</ion-card>
<ion-card class="ttls-main-container ion-padding">
  <ion-card-title>#CDSFWEFWFWF</ion-card-title>
  <component-tracking-time-line></component-tracking-time-line>
</ion-card>
<ion-card class="ttls-main-container ion-padding">
  <ion-card-title>#CDSFWEFWFWF</ion-card-title>
  <component-tracking-time-line></component-tracking-time-line>
</ion-card>

<div class="ttls-btn-container">
  <ion-button shape="round">
    Round Button  
    <mat-icon>arrow_forward_ios</mat-icon>
  </ion-button>
</div>