  <div class="ttl-timeline-container">
    <div class="ttl-point-time-container">
      <div class="ttl-time-info">
        <span class="ttl-date-span">01 Jun, 2020</span>
        <br>
        <span class="ttl-city-span">Altamira, MX</span>
      </div>
      <div class="ttl-point-line-container">
        <div></div>
        <div class="ttl-point demo-active-bg-color">
        </div>
        <div class="ttl-line-container demo-active-bg-color">
        </div>
      </div>
    </div>
    <div class="ttl-point-time-container">
      <div class="ttl-time-info">
        <span class="ttl-date-span">01 Jun, 2020</span>
        <br>
        <span class="ttl-city-span">Altamira, MX</span>
      </div>
      <div class="ttl-point-line-container">
        <div class="ttl-line-container">
        </div>
        <div class="ttl-point">
        </div>
        <div class="ttl-line-container">
        </div>
      </div>
    </div>
    <div class="ttl-point-time-container">
      <div class="ttl-time-info">
        <span class="ttl-date-span">01 Jun, 2020</span>
        <br>
        <span class="ttl-city-span">Altamira, MX</span>
      </div>
      <div class="ttl-point-line-container">
        <div class="ttl-line-container">
        </div>
        <div class="ttl-point">
        </div>
      </div>
    </div>
  </div>