.main-chartsMenu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

ion-card-title {
    font-size: 2.2em;
}

.flag-container {
    position: relative;
    height: 20px;
}
.flag {
    position: absolute;
    top: -6px;
    left: calc(90% - 45px);
    width: fit-content;
}