<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button>
      <ng-container *ngIf="isDarkMode; else elseTemplate">
      <img class="he-icon-custom" src="assets/icons/buger-icon.svg" alt="">
    </ng-container>
    <ng-template #elseTemplate>
      <img class="he-icon-custom" src="assets/icons/buger-icon-light-mode.svg" alt="">
    </ng-template>
    </ion-menu-button>
    </ion-buttons>
    <ion-title>{{pageNameTem}}</ion-title>
      <ion-avatar slot="end">
        <img src="assets/img/lala.png">
      </ion-avatar>
  </ion-toolbar>
</ion-header>