ion-avatar {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: #89899A 2px solid;
}
.he-icon-custom {
    width: 22px !important;
    height: 22px !important;
}
button {
    background-color: none;
}